.navbar-brand{ 
    color:whitesmoke;
    font-weight: 800;
}
.custom{
    background-color: #e79c23;
}
.bi { 
    color: rgb(30, 31, 30);
    font-size: 30px;
    margin: 5px 15px;
}
.nav-link{
    color: rgb(30, 18, 13);
}
.nav-item{
    margin: 10px;
    font-size: 20px;
}
.navbar-brand{
    font-size:40px ;
}
.navbar{
    font-weight: 800;
}
.carousel-inner{
    height: 600px;  
    width: 210vh;
    object-fit: cover;
}
.carousel-caption{
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 10px;
}
.card img{
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
}
.card-body h5{
    color: #85a9f0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.card-body p{
    color: #402eb7;
    text-align: center;
    font-size: 16px;
}
.card-body .btn{
    margin-left: 150px;
}
.card:hover{
    background: linear-gradient(to right, #e79c23, #e9de87);
}
.Banner-image{
    position: relative;
}
.Banner-image img{
    height: 500px;
}
.banneer-text{
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
}
.stars{
    color: goldenrod;
}